In [1]:
import numpy as np 
import pandas as pd 

data = {'col1':[4,7,8,19,20,32,37,27,1,39]}
data

{'col1': [4, 7, 8, 19, 20, 32, 37, 27, 1, 39]}

In [2]:
data1 = pd.DataFrame(data)
data1

   col1
0     4
1     7
2     8
3    19
4    20
5    32
6    37
7    27
8     1
9    39

In [3]:
mean = np.mean(data1)
mean

col1    19.4
dtype: float64

In [5]:
median = np.median(data1)
median

19.5

In [9]:
#weighted average
import numpy as np 
bobot = np.average([30,40,75,90], weights=[0.30,0.40,0.10,0.20])
bobot

50.5

In [10]:
data = {'col1':[41,30,28,19,49,29,40,32,39,20,40,49]}
data

{'col1': [41, 30, 28, 19, 49, 29, 40, 32, 39, 20, 40, 49]}

In [11]:
data1 = pd.DataFrame(data)
data1

    col1
0     41
1     30
2     28
3     19
4     49
5     29
6     40
7     32
8     39
9     20
10    40
11    49

In [12]:
variance = np.var(data1)
variance

col1    91.055556
dtype: float64

In [13]:
std = np.std(data1)
std

col1    9.542303
dtype: float64

In [1]:
import numpy as np 
import pandas as pd 

data = {'col1':[6,7,8,9,10,15,16,16,20,20,23,33,50,58,104]}
data1 = pd.DataFrame(data)
data1

    col1
0      6
1      7
2      8
3      9
4     10
5     15
6     16
7     16
8     20
9     20
10    23
11    33
12    50
13    58
14   104

In [3]:
quartile = data1.quantile([0.25,0.50,0.75])
quartile

      col1
0.25   9.5
0.50  16.0
0.75  28.0